html{
    position: relative;
    min-height: 100vh;
    font-size: 18px;
}

body{
    background-color: #000000;
    font-family: 'Lato', sans-serif;
}

.mainPicture {
    background-image: url('/images/homePageCover/downtownCanada.jpeg');
    opacity: 0.50;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
}

.pic{
    height: 55px;
    max-width: 100%;
    width: auto;
    border-radius: 150px;
}

.mainBox {
    background: rgb(57, 55, 55);
    background: black;
    opacity: 0.7;
    border-radius: 100px;
    padding: 80px 70px 60px;
    box-sizing: content-box;
}

.navbar{
    background-color: #000000;
    background-image: linear-gradient(10deg, #000000 0%, #434343 235%);
    opacity: 90%;
}

#rightSide{
    margin-left: 15px;
    font-size: 27px;
    font-family: 'Arial', sans-serif;
}

#navtext{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 45px;
    text-decoration: underline;
    text-decoration-color: rgb(118, 16, 118);
    text-underline-offset: 5px;
}

.quote{
    color: whitesmoke;
}

.quote1{
    color: whitesmoke;
    padding-left: 250px;
}

.cdPic {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
}


